// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: left;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: left;
}
// screen

.animated-gif {
  .hero-media {
    img, .background-image {
      animation-play-state: running !important;
    }
  }
}

// image size control
.custom-hero-size img {
  max-width: 250px;  // Adjust as needed
  height: 250px;
  // OR specific width/height
  // width: 600px;
  // height: 300px;
}

// screen size of the css_class
.hero-section {
  height: 82vh;   /* full screen */
}

@media (max-width: 768px) {
  .hero-section {
    height: 60vh;  /* shorter on mobile */
  }
}


/* Hide all featured images in projects and hero blocks */
.project-card .project-featured img,
.project-featured img,
img[src$="featured.png"] {
  display: none !important;
}

/* Show SVG container instead */
.project-svg-container {
  display: block !important;
  text-align: center;
  margin: 10px auto;
}

.project-svg-container img {
  width: 200px;       /* adjust as needed */
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-svg-caption {
  font-size: 14px;
  color: #555;
  margin-top: 5px;
  display: block;
  text-align: center;
  font-style: italic;
}
