// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: left;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: left;
}
// screen

.animated-gif {
  .hero-media {
    img, .background-image {
      animation-play-state: running !important;
    }
  }
}

// image size control
.custom-hero-size img {
  max-width: 250px;  // Adjust as needed
  height: 250px;
  // OR specific width/height
  // width: 600px;
  // height: 300px;
}

// screen size of the css_class
.hero-section {
  height: 72vh;   /* full screen */
}

@media (max-width: 768px) {
  .hero-section {
    height: 60vh;  /* shorter on mobile */
  }
}







.home-section > .content {
  width: 100em;
  #max-width: calc(100% - 4em);
  margin: 0 auto;
}

.home-section > .content > :last-child {
  margin-bottom: 0;
}

.home-section header {
  margin-bottom: 1em;
}

// Narrower container for Hello World sections (primarily Blank widget content).
@media (min-width: 1200px) {
  .home-section .container {
    max-width: 880px;
  }
}
@media (min-width: 992px) {
  .home-section .container {
    max-width: 880px;
  }
}






















