// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: left;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: left;
}
// screen

.animated-gif {
  .hero-media {
    img, .background-image {
      animation-play-state: running !important;
    }
  }
}

// image size control
.custom-hero-size img {
  max-width: 250px;  // Adjust as needed
  height: 250px;
  // OR specific width/height
  // width: 600px;
  // height: 300px;
}

// screen size of the css_class
.hero-section {
  height: 72vh;   /* full screen */
}

@media (max-width: 768px) {
  .hero-section {
    height: 60vh;  /* shorter on mobile */
  }
}

// Custom avatar size on homepage
.avatar {
  width: auto;
  height: auto;
  max-width: 225px;
  max-height: 225px;
}

// Prevent stretching on About page with narrow container
.wg-about .avatar {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}

// Smaller Name and Role text on About page than in homepage `about.avatar` widget
.wg-about .portrait-title h2 {
  font-size: 1rem;
}

.wg-about .portrait-title h3 {
  font-size: 0.8rem;
}



// more rounded cards and larger gap between cards
.card-simple {
  margin-top: 1.8rem;
  border-radius: 15px;
}

.dark .card-simple {
  background: rgb(31, 39, 51);
}
























