// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: left;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: left;
}
// screen

.animated-gif {
  .hero-media {
    img, .background-image {
      animation-play-state: running !important;
    }
  }
}

// image size control
.custom-hero-size img {
  max-width: 250px;  // Adjust as needed
  height: 250px;
  // OR specific width/height
  // width: 600px;
  // height: 300px;
}

// screen size of the css_class
.hero-section {
  height: 75vh;   /* full screen */
}

@media (max-width: 768px) {
  .hero-section {
    height: 60vh;  /* shorter on mobile */
  }
}


.filter_button {
    background-color: #DBF8FF;
    color: '';
    border: 1px solid #border-color;
}

.project-card {
  max-width: 300px;
  padding: .5px;
}

.project-card img {
  height: 90px;
  object-fit: cover;
}

.project-card .article-style {
  font-size: 0.3rem;
}


body {
  background-color: rgb(247, 250, 252);
}

.dark .article-container {
  background-color: rgb(31, 39, 51);
}

// custom footer color
.page-footer {
  background-color: rgb(247, 250, 252);
}

.dark .page-footer {
  background-color: rgb(26, 32, 44);
}

// more rounded cards and larger gap between cards
.card-simple {
  margin-top: 1.8rem;
  border-radius: 15px;
}

.dark .card-simple {
  background: rgb(31, 39, 51);
}


/* Bigger navigation bar with logo on left */
.navbar {
    height: 80px !important;
    min-height: 80px !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0 1rem !important;
}

/* Logo on left */
.navbar-brand {
    order: 1 !important;
    margin-left: auto !important;
}

.navbar-brand img {
    height: 300px !important;
    width: 350px !important;
}

/* Navigation items on right */
.navbar-nav {
    order: 2 !important;
    display: flex !important;
    gap: 1rem !important;
}

.nav-link {
    font-size: 10px !important;
    padding: 1px 1px !important;
}































