// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: left;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: left;
}
// screen

.animated-gif {
  .hero-media {
    img, .background-image {
      animation-play-state: running !important;
    }
  }
}

// image size control
.custom-hero-size img {
  max-width: 250px;  // Adjust as needed
  height: 250px;
  // OR specific width/height
  // width: 600px;
  // height: 300px;
}

// screen size of the css_class
.hero-section {
  height: 72vh;   /* full screen */
}

@media (max-width: 768px) {
  .hero-section {
    height: 60vh;  /* shorter on mobile */
  }
}





// Control masonry item width
.masonry-item {
  width: 300px !important;  // Set your desired width
}

// Control masonry item height (affects container)
.masonry-item .card {
  min-height: 200px !important;
  max-height: 400px !important;
}

// Or control image height specifically
.masonry-item .card-img {
  height: 150px !important;
  object-fit: cover;
}
























