// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: left;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: left;
}
// screen

.animated-gif {
  .hero-media {
    img, .background-image {
      animation-play-state: running !important;
    }
  }
}

// image size control
.custom-hero-size img {
  max-width: 250px;  // Adjust as needed
  height: 250px;
  // OR specific width/height
  // width: 600px;
  // height: 300px;
}

// screen size of the css_class
.hero-section {
  height: 72vh;   /* full screen */
}

@media (max-width: 768px) {
  .hero-section {
    height: 60vh;  /* shorter on mobile */
  }
}


.filter_button {
    background-color: #DBF8FF;
    color: '';
    border: 1px solid #border-color;
}

.project-card {
  max-width: 300px;
  padding: 5px;
}

.project-card img {
  height: 110px;
  object-fit: cover;
}

.project-card .article-style {
  font-size: 0.5rem;
}






























